
<div class = "ledContainer">
	<% if( @led.ison == true ) %>
		<a href="<%= turnoff_path %>"><img src="/img/ledon.png" /></a>
	<% else %>
		<a href="<%= turnon_path %>"><img src="/img/ledoff.png" /></a>
	<% end %>
</div>
